.popup-content {
  width: 320px;

  .popup-list-item {
    @apply grid gap-4 w-full items-center px-4;

    grid-template-columns: 24px 1fr;

    .icon {
      @apply w-6 h-6 mr-3;
      font-size: 24px;
    }
  }
}
